USE [master]
GO
/****** Object:  Database [NTR-Own]    Script Date: 26.01.2017 00:28:09 ******/
CREATE DATABASE [NTR-Own]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NTR-Own', FILENAME = N'C:\Program Files (x86)\SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NTR-Own.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NTR-Own_log', FILENAME = N'C:\Program Files (x86)\SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NTR-Own_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NTR-Own].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NTR-Own]
GO
/****** Object:  User [MVC-User]    Script Date: 26.01.2017 00:28:09 ******/
CREATE USER [MVC-User] FOR LOGIN [AppUser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AppUser]    Script Date: 26.01.2017 00:28:09 ******/
CREATE USER [AppUser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[[db_datareader]]; [db_datawriter]]]
GO
/****** Object:  Table [dbo].[Głos]    Script Date: 26.01.2017 00:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Głos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Poseł] [int] NOT NULL,
	[Ustawa] [int] NOT NULL,
	[Głosował] [bit] NULL,
	[Stamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Głos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Klub]    Script Date: 26.01.2017 00:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klub](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nchar](32) NOT NULL,
	[Skrót] [nchar](10) NOT NULL,
	[Stamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Klub] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Poseł]    Script Date: 26.01.2017 00:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poseł](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [nchar](32) NOT NULL,
	[Nazwisko] [nchar](32) NOT NULL,
	[Foto] [image] NULL,
	[Klub parlamentarny] [int] NULL,
	[Stamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Poseł] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ustawa]    Script Date: 26.01.2017 00:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ustawa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nchar](256) NOT NULL,
	[Data] [date] NOT NULL,
	[ZgłoszonaPrzez] [int] NOT NULL,
	[Stamp] [timestamp] NOT NULL,
 CONSTRAINT [PK_Ustawa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Głos] ON 

INSERT [dbo].[Głos] ([ID], [Poseł], [Ustawa], [Głosował]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Głos] ([ID], [Poseł], [Ustawa], [Głosował]) VALUES (2, 2, 1, 1)
INSERT [dbo].[Głos] ([ID], [Poseł], [Ustawa], [Głosował]) VALUES (3, 3, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Głos] OFF
SET IDENTITY_INSERT [dbo].[Klub] ON 

INSERT [dbo].[Klub] ([ID], [Nazwa], [Skrót]) VALUES (1, N'Prawo i Sprawiedliwość          ', N'PiS       ')
INSERT [dbo].[Klub] ([ID], [Nazwa], [Skrót]) VALUES (2, N'Platforma Obywatelska           ', N'PO        ')
INSERT [dbo].[Klub] ([ID], [Nazwa], [Skrót]) VALUES (3, N'Kukiz''15                        ', N'Kukiz''15  ')
SET IDENTITY_INSERT [dbo].[Klub] OFF
SET IDENTITY_INSERT [dbo].[Poseł] ON 

INSERT [dbo].[Poseł] ([ID], [Imie], [Nazwisko], [Foto], [Klub parlamentarny]) VALUES (1, N'Kaczyński                       ', N'Jarosław                        ', NULL, 1)
INSERT [dbo].[Poseł] ([ID], [Imie], [Nazwisko], [Foto], [Klub parlamentarny]) VALUES (2, N'Joachim                         ', N'Brudziński                      ', NULL, 1)
INSERT [dbo].[Poseł] ([ID], [Imie], [Nazwisko], [Foto], [Klub parlamentarny]) VALUES (3, N'Jarosław                        ', N'Gowin                           ', NULL, 1)
SET IDENTITY_INSERT [dbo].[Poseł] OFF
SET IDENTITY_INSERT [dbo].[Ustawa] ON 

INSERT [dbo].[Ustawa] ([ID], [Nazwa], [Data], [ZgłoszonaPrzez]) VALUES (1, N'Ustawa Budżetowa 2017                                                                                                                                                                                                                                           ', CAST(N'2016-12-21' AS Date), 1)
INSERT [dbo].[Ustawa] ([ID], [Nazwa], [Data], [ZgłoszonaPrzez]) VALUES (3, N'Ustawa o reformie edukacji                                                                                                                                                                                                                                      ', CAST(N'2017-01-11' AS Date), 1)
INSERT [dbo].[Ustawa] ([ID], [Nazwa], [Data], [ZgłoszonaPrzez]) VALUES (5, N'Ustawa o związkach zawodowych                                                                                                                                                                                                                                   ', CAST(N'2016-04-03' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Ustawa] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Klub]    Script Date: 26.01.2017 00:28:09 ******/
ALTER TABLE [dbo].[Klub] ADD  CONSTRAINT [IX_Klub] UNIQUE NONCLUSTERED 
(
	[Nazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Klub_1]    Script Date: 26.01.2017 00:28:09 ******/
ALTER TABLE [dbo].[Klub] ADD  CONSTRAINT [IX_Klub_1] UNIQUE NONCLUSTERED 
(
	[Skrót] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Ustawa]    Script Date: 26.01.2017 00:28:09 ******/
ALTER TABLE [dbo].[Ustawa] ADD  CONSTRAINT [IX_Ustawa] UNIQUE NONCLUSTERED 
(
	[Nazwa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Głos]  WITH CHECK ADD  CONSTRAINT [FK_Głos_Poseł] FOREIGN KEY([Poseł])
REFERENCES [dbo].[Poseł] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Głos] CHECK CONSTRAINT [FK_Głos_Poseł]
GO
ALTER TABLE [dbo].[Głos]  WITH CHECK ADD  CONSTRAINT [FK_Głos_Ustawa] FOREIGN KEY([Ustawa])
REFERENCES [dbo].[Ustawa] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Głos] CHECK CONSTRAINT [FK_Głos_Ustawa]
GO
ALTER TABLE [dbo].[Poseł]  WITH CHECK ADD  CONSTRAINT [FK_Poseł_Klub] FOREIGN KEY([Klub parlamentarny])
REFERENCES [dbo].[Klub] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Poseł] CHECK CONSTRAINT [FK_Poseł_Klub]
GO
ALTER TABLE [dbo].[Ustawa]  WITH CHECK ADD  CONSTRAINT [FK_Ustawa_Klub] FOREIGN KEY([ZgłoszonaPrzez])
REFERENCES [dbo].[Klub] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ustawa] CHECK CONSTRAINT [FK_Ustawa_Klub]
GO
USE [master]
GO
